In [1]:
# import dependences 

import pandas as pd
from sqlalchemy import create_engine, inspect
import numpy as np
import datetime
import psycopg2

In [2]:
#read in csv

csv_file = "Resources/url_sheet.csv"
category_df = pd.read_csv(csv_file)
category_df.head()

,product_name,category_name,store_name,store_url,url
0,Wilson Roger Federer Junior Tennis Racquet,Racquets,Wilson,https://www.wilson.com,https://www.wilson.com/en-us/tennis/rackets/ro...
1,Wilson Blade Team Tennis Racquet,Racquets,Wilson,https://www.wilson.com,https://www.wilson.com/en-us/tennis/rackets/bl...
2,Wilson Burn 100ULS Tennis Racquet,Racquets,Wilson,https://www.wilson.com,https://www.wilson.com/en-us/tennis/rackets/bu...
3,Wilson Championship Extra-Duty Tennis Balls,Balls,Wilson,https://www.wilson.com,https://www.wilson.com/en-us/tennis/balls/valu...
4,Wilson Team One Tennis Bag,Bags,Wilson,https://www.wilson.com,https://www.wilson.com/en-us/tennis/bags/tour/...

In [3]:
#review unique categories
category = category_df.category_name.unique()
category

array(['Racquets', 'Balls', 'Bags', 'Accessories', 'Shoes'], dtype=object)

In [4]:
#create new category_name dataframe to send to SQL
items = pd.DataFrame(category, columns = ['category_name']) 
items.set_index('category_name', inplace=True)
items

Empty DataFrame
Columns: []
Index: [Racquets, Balls, Bags, Accessories, Shoes]

In [5]:
# Import and establish Base for which classes will be constructed 
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

# Import modules to declare columns and column data types
from sqlalchemy import Column, Integer, String, Float

In [6]:
#declare our variables for pgAdmin connection
SQL_USERNAME ="postgres"
SQL_PASSWORD ="password"
SQL_IP ="34.69.163.116"
PORT = 5432
DATABASE ="postgres"

In [7]:
#connect and append dataframe to table in SQL
connection_string = f"postgresql+psycopg2://{SQL_USERNAME}:{SQL_PASSWORD}@{SQL_IP}:{PORT}/{DATABASE}"
engine = create_engine(connection_string)

items.to_sql('lk_category', engine, if_exists='append')