In [1]:
# import dependences 

import pandas as pd
from sqlalchemy import create_engine, inspect
import numpy as np
import datetime
import psycopg2

In [2]:
#read in csv

csv_file = "Resources/url_sheet.csv"
store_df = pd.read_csv(csv_file)
store_df.head()

,product_name,category_name,store_name,store_url,url
0,Wilson Roger Federer Junior Tennis Racquet,Racquets,Wilson,https://www.wilson.com,https://www.wilson.com/en-us/tennis/rackets/ro...
1,Wilson Blade Team Tennis Racquet,Racquets,Wilson,https://www.wilson.com,https://www.wilson.com/en-us/tennis/rackets/bl...
2,Wilson Burn 100ULS Tennis Racquet,Racquets,Wilson,https://www.wilson.com,https://www.wilson.com/en-us/tennis/rackets/bu...
3,Wilson Championship Extra-Duty Tennis Balls,Balls,Wilson,https://www.wilson.com,https://www.wilson.com/en-us/tennis/balls/valu...
4,Wilson Team One Tennis Bag,Bags,Wilson,https://www.wilson.com,https://www.wilson.com/en-us/tennis/bags/tour/...

In [3]:
#create dataframe by using group by on store_name and store_url
lk_store = store_df.groupby(['store_name', 'store_url']).size().reset_index().drop(0,axis=1)
lk_store.head()

  store_name                store_url
0    Academy  https://www.academy.com
1       Ebay     https://www.ebay.com
2     Wilson   https://www.wilson.com

In [4]:
#declare variables to connect to SQL
SQL_USERNAME ="postgres"
SQL_PASSWORD ="password"
SQL_IP ="34.69.163.116"
PORT = 5432
DATABASE ="postgres"

In [5]:
#create connection to SQL
connection_string = f"postgresql+psycopg2://{SQL_USERNAME}:{SQL_PASSWORD}@{SQL_IP}:{PORT}/{DATABASE}"
engine = create_engine(connection_string)

In [6]:
#importing data to SQL
lk_store.to_sql('lk_store', engine, if_exists='append', index=False, method='multi')

In [7]:
#report new dataframe
query = "SELECT * FROM lk_store"
sql_store = pd.read_sql(query, engine)
sql_store.head()

   id store_name                store_url               last_updated
0  19    Academy  https://www.academy.com 2020-12-21 17:15:39.841827
1  20       Ebay     https://www.ebay.com 2020-12-21 17:15:39.841827
2  21     Wilson   https://www.wilson.com 2020-12-21 17:15:39.841827