In [1]:
# import dependences 

import pandas as pd
from sqlalchemy import create_engine, inspect
import numpy as np
import datetime

In [2]:
#read in csv

csv_file = "Resources/url_sheet.csv"
category_df = pd.read_csv(csv_file)
category_df.head()

,product_name,category_name,store_name,store_url,url
0,Wilson Roger Federer Junior Tennis Racquet,Racquets,Walmart,https://www.walmart.com,https://www.walmart.com/ip/Wilson-Rodger-Feder...
1,Wilson Blade Team Tennis Racquet,Racquets,Walmart,https://www.walmart.com,https://www.walmart.com/ip/Wilson-WRT73861U3-B...
2,Wilson Burn 100ULS Tennis Racquet,Racquets,Walmart,https://www.walmart.com,https://www.walmart.com/ip/Wilson-Burn-100ULS-...
3,Wilson Championship Extra-Duty Tennis Balls,Balls,Walmart,https://www.walmart.com,https://www.walmart.com/ip/Wilson-006449-Wilso...
4,Wilson Team One Tennis Bag,Bags,Walmart,https://www.walmart.com,https://www.walmart.com/ip/Wilson-Team-Tennis-...

In [3]:
category = category_df.groupby(by="category_name").count()
category

               product_name  store_name  store_url  url
category_name
Accessories               8           8          8    8
Bags                      4           4          4    4
Balls                     4           4          4    4
Racquets                 12          12         12   12
Shoes                     4           4          4    4

In [ ]:
SQL_USERNAME ="postgres"
SQL_PASSWORD ="password"
SQL_IP ="34.69.163.116"
PORT = 5432
DATABASE ="postgres"

In [ ]:
connection_string = f"postgresql+psycopg2://{SQL_USERNAME}:{SQL_PASSWORD}@{SQL_IP}:{PORT}/{DATABASE}"
engine = create_engine(connection_string)

In [ ]:
inspector = inspect(engine)
inspector.get_table_names()

In [ ]:
for table in inspector.get_table_names():
    print()
    print(table)
    for column in inspector.get_columns(table):
        print(column)